.home-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    height: 128px;
}

.page.-home {
    margin-top: 128px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    width: 64px;
    height: 28px;
    background: var(--blue);
    border-radius: 8px;
    text-align: center;
    color: var(--white);
    font-size: 12px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--color-input);
    border-radius: 4px;
    margin-top: 5px;
    border: thin solid var(--silver);
    padding: 2px;
    font-size: small;
    align-items: center;
    height: 32px;
}

.search-input {
    flex: 1;
    margin-left: 4px;
    padding: 12px 0;
    outline: 0;
    border: 0;
    background: transparent;
}

.search-input:focus::placeholder {
    color: var(--blue);
}

.search-bar:focus-within {
    background: var(--color-bg);
    border-color: var(--blue);
    box-shadow: 0 2px 4px var(--darkgray);
}

.search-bar:focus-within .search-icon {
    color: var(--blue);
}

.stations-section {
    padding-top: 32px;
}

.tabs-header {
    font-size: 0.75em;
    font-weight: bold;
    border-bottom: thin solid var(--lightgray);
    padding-bottom: 8px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: thin solid var(--lightgray);
}

.tab {
    flex: 1;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
}

.tab.-history {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightgray);
}

.tab.-history:focus-within {
    color: var(--blue);
    border-bottom-color: var(--blue);
}

.history-icons {
    font-size: large;
}

.history-text {
    padding-left: 5px;
}

.tab.-saved {
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--lightgray);
}

.tab.-saved:focus-within {
    color: var(--blue);
    border-bottom-color: var(--blue);
}

.saved-icons {
    font-size: large;
}

.saved-text {
    padding-left: 5px;
}

.saved-stations {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: thin solid var(--lightgray);
    align-items: center;
}

.station {
    display: flex;
    flex-direction: column;
}

.recent-messages-section {
    margin-top: 32px;
}

.recent-messages {
    margin-top: 40px;
    font-size: 0.75em;
    font-weight: bold;
    border-bottom: thin solid var(--lightgray);
    padding-bottom: 8px;
}

