.header {
  background: var(--white);
}

.header .title-row {
  order: initial;
  padding-bottom: 0.5rem;
}

.header .title {
  order: initial;
}

.header .button {
  width: 72px;
  height: 32px;
  font-size: 0.875rem;
}

.section.-stations:first-child {
  padding-top: 16px;
}

.section-notice {
  background: var(--white);
  display: block;
  margin-top: 6px;
  padding: 9px 3.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25;
  text-align: center;
}

.section-tabs {
  background: white;
  display: flex;
  border-top: thin solid var(--silver);
  box-shadow: var(--shadow);
  margin-bottom: 0.5rem;
}

.section-tab {
  color: var(--lightgray);
  font-size: 0.75rem;
  font-weight: bold;
  padding: 12px 0 10px;
  border-bottom: 2px solid transparent;
  background: 0 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.icon.-tab {
  font-size: 16px;
  padding-right: 4px;
}

.section-tab.-select {
  color: var(--blue);
  border-color: var(--blue);
}

.greeting {
  display: block;
  font-size: 0.875rem;
  text-align: center;
  padding-top: 12px;
  color: var(--gray);
}
