.header.-home .title {
  order: initial;
}

.header .button {
  width: 72px;
  height: 32px;
  font-size: 0.875rem;
}

.section-notice {
  background: var(--white);
  display: block;
  margin-top: 8px;
  padding: 16px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25;
  text-align: center;
}

.greeting {
  display: block;
  font-size: 0.875rem;
  font-style: italic;
  text-align: center;
  padding-top: 12px;
  margin-bottom: -12px;
}
