.page.-station {
  padding-bottom: 2rem;
}

.header.-color {
  color: white;
  border: 0;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  z-index: 2;
}

.header.-color.-primary {
  background: var(--blue);
}

.header.-color .title, .header.-color .back {
  color: white;
}

.header.-color .title {
  font-size: 1.25rem;
}

.header.-color .subtitle {
  color: var(--lightblue);
  text-align: right;
  text-transform: uppercase;
}

.header .title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 2;
}

.header-text {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  padding: 0.75rem 0;
}

.station-map {
  background: var(--darkblue);
  padding: 1rem 2rem;
}

.station-labels {
  display: flex;
  justify-content: space-between;
}

.station-label {
  color: var(--lightblue);
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.station-label.-right {
  text-align: right;
}

.station-label:first-child:last-child {
  text-align: center;
  width: 100%;
}

.station-label.-select {
  color: white;
  text-transform: initial;
  font-size: 1rem;
}

.station-circles {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
}

.station-circles::before {
  content: "";
  background: var(--lightblue);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.station-circle {
  width: 16px;
  height: 16px;
  border: 2px solid var(--lightblue);
  border-radius: 50%;
  background: var(--darkblue);
}

.station-circle.-select {
  background: white;
  border: 2px solid var(--darkblue);
  width: 14px;
  height: 14px;
  box-shadow: 0 0 0 2px var(--lightblue);
}

.info {
  background: white;
  box-shadow: var(--shadow);
  border: thin solid var(--silver);
  border-radius: 8px;
  padding: 12px;
  height: 56px;
  display: flex;
}

.info + .info {
  margin-top: 4px;
}

.icon.-metric {
  color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box {
  background: white;
  color: var(--lightgray);
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-meta {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.info-name {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--kerning);
  margin-bottom: 1px;
}

.info-value {
  color: black;
  font-weight: bold;
}

/*********** Header *************/

.title {
    font-size: 16px;
}

.star-icon {
    display: none;
    float: right;
    padding-bottom: 9px;
}

/*********** station-table ***********/

.route {
    width: 90%;
    margin: 0 auto;
    border-bottom: thin solid var(--color-outline);
}

.this-station, .before, .after {
    font-weight: bold;
    font-size: .75em;
}

.this-station {
    text-transform: uppercase;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 4px;
}

.stations-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 12px;
}

.station-table {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.station {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid silver;
    background: white;
    position: static;
}

/*********** lines ***********/

.station+.station::before {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background: silver;
    position: absolute;
    top: 50%;
    transform: translateX(calc(-100% + 10px));
    z-index: -1;
}

.station.-select {
    width: 16px;
    height: 16px;
    margin: 2px;
    background: var(--blue);
    border-color: white;
    box-shadow: 0 0 0 2px var(--blue);
}

/*********** TRANSIT INFORMATION ***********/

.info-title {
    font-weight: 700;
    font-size: 0.75em;
    margin-top: 32px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-button {
    display: flex;
    align-items: center;
}

.info-content {
    height: 55px;
    border-bottom: thin solid var(--color-outline);
    border-top: thin solid var(--color-outline);
}

.statuses {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    font-weight: 700;
    font-size: 0.75em;
}

.status {
    font-size: 1rem;
}

.-green {
    color: var(--green);
}

.-yellow {
    color: var(--yellow);
}

.-red {
    color: var(--red);
}

/*********** TOP MESSAGE ***********/

.message-title {
    font-weight: 700;
    font-size: 0.75em;
    margin-top: 32px;
    margin-bottom: 8px;
    border-bottom: thin solid var(--color-outline);
    padding-bottom: 12px;
}

.button {
    margin-top: 22px;
}

.time {
    font-size: 0.875rem;
}

.timewrap {
    display: flex;
    align-items: center;
}
