@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined);
/* bus-dating-v2.css
 * > Reset styles and variables for BusDating
 */

/* Variable declarations */

:root {
  --white: #F6F7F9;
  --silver: #E8E8E8;
  --lightgray: #C4C4C4;
  --gray: #8F8F8F;
  --darkgray: #676767;
  --blue: #5E83E2;
  --lightblue: #A5C3FF;
  --darkblue: #3565C2;
  --green: #62B579;
  --lightgreen: #DEF5DE;
  --yellow: #EEBC3B;
  --lightyellow: #FFF8E5;
  --red: #E92554;
  --lightred: #FFE1EC;
  --color-bg: var(--white);
  --color-input: var(--white);
  --color-disable: var(--silver);
  --color-outline: var(--lightgray);
  --color-content: var(--gray);
  --color-title: var(--darkgray);
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-heavy: 0 4px 8px rgba(0, 0, 0, 0.25);
  --header-height: 96px;
  --header-height-search: 128px;
  --font-stack: "Work Sans", sans-serif;
  --kerning: 0.0625rem;
}

/* Reset styles */

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  touch-action: manipulation;
  -webkit-text-size-adjust: none;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

ul {
  list-style: none;
}

strong {
  font-weight: bold;
}

/* Project-specific styles */

body {
  background: var(--color-bg);
}

input, button, body {
  font: 16px/1 var(--font-stack);
}

p {
  font-size: 0.875em;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.125em;
}

.page {
  padding-bottom: 2rem;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 0 1rem;
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.header.-color {
  color: white;
  border: 0;
  margin: 0;
  padding: 0.75rem 1rem;
  width: 100%;
  z-index: 2;
}

.header.-color.-primary {
  background: var(--blue);
}

.header.-color.-primary .subtitle {
  color: var(--lightblue);
}

.header.-color.-secondary {
  background: var(--green);
}

.header.-color.-secondary .subtitle {
  color: rgba(255, 255, 255, 0.5);
}

.header.-color .title, .header.-color .back {
  color: white;
}

.header.-color .subtitle {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: var(--kerning);
}

.header.-color a {
  color: white;
}

.header .title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 2;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.headings {
  display: flex;
  flex-direction: column;
  text-align: right;
  order: 2;
}

.title {
  line-height: 0.8;
  order: 2;
}

.title.-small {
  font-size: 1.25rem;
  text-align: right;
}

.subtitle {
  color: var(--color-outline);
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 2px;
}

.back {
  color: var(--color-content);
  font-size: 0.875em;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: -3px;
}

.back .material-icons {
  margin-left: -8px;
  margin-right: -2px;
}

.header.-search {
  height: var(--header-height-search);
}

.header.-search+.page {
  margin-top: var(--header-height-search);
}

.search {
  background: white;
  color: var(--gray);
  box-shadow: var(--shadow);
  border: thin solid var(--silver);
  border-radius: 16px;
  margin-bottom: 8px;
  padding: 0 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  font-size: small;
  align-items: center;
  height: 32px;
}

.icon.-search {
  margin-right: 0.25rem;
}

.search-input {
  flex: 1;
  font-size: 0.875rem;
  line-height: 1rem;
}

.search-input::placeholder {
  color: var(--gray);
}

.search:focus-within {
  border-color: var(--blue);
}

.search:focus-within .icon.-search {
  color: var(--blue);
}

.search-input:focus:not(:placeholder-shown) {
  color: var(--blue);
}

.header.-search+.page-content {
  margin-top: var(--header-height-search);
}

.section {
  margin-top: 1rem;
}

.section-header {
  font-size: 0.75rem;
  margin: 0 1rem;
  width: calc(100% - 2rem);
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--kerning);
}

.section-subtitle {
  font-size: 0.875rem;
  font-weight: 500;
}

.section-content {
  margin: 0 1rem;
}

.section-notice {
  border: thin solid var(--lightgray);
  color: var(--gray);
  font-size: 0.875rem;
  line-height: 1.25;
  padding: 1rem 0;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.button {
  background: var(--blue);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: var(--shadow-heavy);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.-action {
  width: calc(100% - 2rem);
  height: 48px;
  margin: 0.75rem 1rem 0;
}

.button.-action .icon {
  margin-right: 8px;
}

.button.-action.-chat {
  background: var(--green);
}

.option {
  color: var(--gray);
  background: white;
  box-shadow: var(--shadow);
  border: thin solid var(--silver);
  border-radius: 4px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option+.option {
  margin-top: 6px;
}

.option-lhs {
  display: flex;
  align-items: center;
}

.option-rhs {
  display: flex;
  align-items: center;
}

.option-meta {
  margin-left: 8px;
}

.option-name {
  color: black;
  font-weight: bold;
  font-size: 0.875rem;
}

.option-data {
  font-size: 0.75rem;
  margin-top: 2px;
}

.option-time {
  font-size: 0.75rem;
  margin-right: -4px;
}

.icon.-route {
  color: var(--blue);
}

.icon.-message {
  color: var(--green);
}

.page {
  margin-top: var(--header-height);
}

.page>p {
  line-height: 1.5;
}

#map {
  height: 200px;
  z-index: -1;
}
