@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* bus-dating-v2.css
 * > Reset styles and variables for BusDating
 */

:root {
	--color-bg: white;
	--color-input: #F6F7F9;
	--color-disable: #E8E8E8;
	--color-outline: #C4C4C4;
	--color-subtitle: var(--color-outline);
	--color-content: #8F8F8F;
	--color-title: #676767;
	--color-blue: #5E83E2;
	--color-green: #65A164;
	--color-yellow: #EEBC3B;
	--color-red: #E92554;
	--color-lightgreen: #DEF5DE;
	--color-lightyellow: #FFF8E5;
	--color-lightred: #FFE1EC;
	--font-stack: "Work Sans", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--color-bg);
	color: var(--color-content);
}

input, button, body {
	font-family: var(--font-stack);
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	font-size: 0.875em;
}

ul {
	list-style: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 16px;
	padding: 32px 8px 8px;
	border-bottom: thin solid var(--color-outline);
}

.headings {
	display: flex;
	flex-direction: column;
	order: 2;
}

.title {
	color: var(--color-title);
	font-size: 2em;
	line-height: 1;
	order: 2;
}

.subtitle {
	color: var(--color-subtitle);
	font-size: 1em;
}

.back {
	color: var(--color-content);
	font-size: 0.875em;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.back .material-icons {
	margin-left: -8px;
	margin-right: -2px;
}

.page > p {
	margin: 0 16px;
	line-height: 1.5;
	margin-top: 0.75em;
}
