/**********Report********/
.report {
    height: 200px;
    position: relative;
    top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.report > div {
    border-radius: 5px;
    margin-top: 15px;
}

.seat {
    background-color: var(--green);
}

.arrival {
    background-color: var(--red);
}

.seat, .arrival {
    width: 40%;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.report-icon {
    font-size: 36px;
}

.rselect {
    color: var(--gray);
}

.rseat {
  color: var(--green-light)
}

.rarrival {
  color: var(--red-light)
}

.status {
    font-size: 10pt;
}

.changes, .alerts {
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.changes {
    background-color: var(--blue);
    color: var(--blue-light);
}

.alerts {
    background-color: var(--yellow);
    color: var(--yellow-dark);
}

/**********Message********/

.message {
    position: relative;
    top: 48px;
    width: 80%;
    margin: 10px auto 0 auto;
    color: var(--gray);
    margin-bottom: 60px;
    margin-top: 20px;
}

.room {
    background-color: var(--blue);
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 5px;
    margin-top: 5px;
}
.roomName, .chat {
    width: 70%;
    margin-left: 5%;
}

.roomName {
    color: white;
}

.chat {
    font-size: 10pt;
}

.time {
    height: 40px;
    width: 20%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--silver)
}

.message-icon {
    font-size: 50px;
    color: white;
}
