.home-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--color-input);
    border-radius: 4px;
    margin-top: 5px;
    border: thin solid var(--color-outline);
    padding: 2px;
    font-size: small;
}

.search-input {
    border: none;
    background: transparent;
    flex: 1;
}

.stations-section {
padding-top: 32px;
}

.tabs-header {
    font-size: 0.75em;
    font-weight: bold;
    border-bottom: thin solid var(--color-outline);
    padding-bottom: 8px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: thin solid var(--color-outline);
}

.tab  {
    flex: 1;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;

}

.tab.-history {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-outline);
}

.history-icons {
    font-size: large;
}

.history-text {
    padding-left: 5px;
}

.tab.-saved {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-blue);
    border-bottom-color: var(--color-blue);
}

.saved-icons {
    font-size: large;
}

.saved-text {
    padding-left: 5px;
}

.saved-stations {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: thin solid var(--color-outline);
    align-items: center;
}

.station {
    display: flex;
    flex-direction: column;
}

.station-text {
    font-weight: bold;
    color: var(--color-title);

}

.saved-route {
    font-size: 11px;
}

.stn-route-number {

    font-weight: bold;
    color: var(--color-content);
}

.station-icon {
    color: var(--color-outline);
}

.recent-messages-section {
    margin-top: 32px;
}

.recent-messages {
    font-size: 0.75em;
    font-weight: bold;
    border-bottom: thin solid var(--color-outline);
    padding-bottom: 8px;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    border-bottom: thin solid var(--color-outline);
    padding: 10px;
}

.msg-route {
    display: flex;
    flex-direction: column;

}

.msg-route-number {
    font-weight: bold;
    color: var(--color-title);
}

.user {
    display: flex;
    font-size: 12px;
}

.user-name {
    color: var(--color-content);
    font-weight: bold;
}

.user-text {
    padding-left: 5px;
}

.arrow-time {
    display: flex;
    align-items: center;
    color: var(--color-outline);
}
