/*Map and search bar*/
.map {
    background-color: green;
    height: 200px;
    position: relative;
    top:48px;
    color: white;
    font-size: 60pt;
    justify-content: center;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

.search-bar {
    top: 0;
    position: absolute;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: gray;
    height: 15%;
    width: 80%;
    border-radius: 6px;
    margin-top: 10px;
    
}

.search-bar-text {
    font-size: small;
}

.search-bar-icon {
    margin-right: 10px;
}

/*Nearby and favorite tabs*/

.underMap {
    display: flex;
    background-color: white;
    position: relative;
    top: 50px;
}

.undermap-nearby {
    padding: 10px;
    flex: 1;
    text-align: center;
    color: blue;

}

.undermap-favorites {
    padding: 10px;
    flex: 1;
    text-align: center;
    background-color: lightgray;
    flex-direction: column;
    
}

/* Nearby stations */

.nearby {
    display: flex;
    position: relative;
    top: 50px;
    padding: 10px;
    flex-direction: column;
}

.nearby-header {
    color: lightslategray;
}

.nearby-list-item {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;


}

.nearby-icon {
    margin-right: 10px;
}
