.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 16px;
	padding: 32px 8px 8px;
	border-bottom: thin solid var(--color-outline);
}

.headings {
	display: flex;
	flex-direction: column;
	order: 2;
}

.title {
	color: var(--color-title);
	font-size: 2em;
	line-height: 1;
	order: 2;
}

.subtitle {
	color: var(--color-subtitle);
	font-size: 1em;
}

.back {
	color: var(--color-content);
	font-size: 0.875em;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.back .material-icons {
	margin-left: -8px;
	margin-right: -2px;
}
