body {
  background: var(--blue);
  color: white;
}

.page {
  padding-bottom: 2rem;
}

.section-subtitle {
  color: var(--lightblue);
}

.search {
  background: var(--darkblue);
  color: var(--lightblue);
  border: thin solid var(--darkblue);
}

.search-input {
  font-size: 0.875rem;
}

.search-input::placeholder {
  color: inherit;
}

.search-input:focus::placeholder {
  color: var(--lightblue);
}

.search:focus-within {
  background: var(--darkblue);
  color: white;
  border-color: white;
  box-shadow: none;
}

.east-icon {
	font-size: 12px;
	margin-left: 2px;
	margin-right: 2px;
}

.station-wrap {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: thin solid var(--lightgray);
	align-items: center;
}

.station {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.station-meta {
  margin-left: 12px;
  margin-top: 1px;
}

.station-name {
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
}

.station-desc {
  color: var(--lightblue);
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 4px;
}

.station-lhs {
  display: flex;
}

.station-lhs::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid var(--lightblue);
  border-radius: 50%;
}

.station + .station .station-lhs::after {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background: var(--lightblue);
  position: absolute;
  left: 7px;
  bottom: 100%;
}

.station-rhs {
  color: var(--lightblue);
  font-size: 20px;
}
