.routes {
	padding: 14px;
	border-bottom: thin solid var(--color-lightgray);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.route-number {
	font-weight: bold;
	color: var(--color-darkgray);
}

.route-locations {
	font-size: 13px;
	color: var(--color-gray);
}
